h1 {
  color: green;
}

.error,
.success {
  background-color: lightgray;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.error {
  color: red;
  border: 2px solid red;
}

.success {
  border: 2px solid green;
  color: green;
}
